# BetterAuth 
BETTER_AUTH_SECRET=test-secret-key
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your application (used for redirecting after authentication)

# Server
NODE_ENV=development
PORT=3007

# Logging
LOG_LEVEL=debug

API_BASE_URL=http://localhost:3007 
FRONTEND_ORIGINS=http://localhost:3000 //cors allowed origins for frontend applications

# OAuth (optional)
ENABLE_GOOGLE_OAUTH=false // Set to true to enable Google OAuth authentication
// If you enable Google OAuth, you need to set the following environment variables with your Google OAuth credentials:
GOOGLE_CLIENT_ID=your-google-client-id 
GOOGLE_CLIENT_SECRET=your-google-client-secret

ENABLE_GITHUB_OAUTH=false // Set to true to enable GitHub OAuth authentication
// If you enable GitHub OAuth, you need to set the following environment variables with your GitHub OAuth credentials:
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
